body {
	font-family: 'Share Tech Mono', Helvetica, sans-serif;
	background-image: url("https://vignette.wikia.nocookie.net/lego/images/9/92/Sw_poster_1.jpg/revision/latest?cb=20111115131853");
	background-position: center;
	background-attachment: fixed;
}
img {
	height: 200px;
	width: 200px;
}

p{
	font-size: 25px;
	color: red;
	font-weight: bold;
}


.toChoose {
	text-align: center;
	height:250px;
	width:300px;
	margin-right:20px;
}

.jumbotron {
	background-color: 	transparent;
	text-align: center;
	color: red;
}
.enemy {
	position: relative;
	text-align: center;
	margin-bottom: 20px
}

.fightField {
	position: relative;
}

.chosen p  {
	text-align: center;
}
.toFight p {
	text-align: center;
}
